<div>
    <ul>
      <li class="email-li" *ngFor="let email of (deletedList | emailFilter : searchString )">
        <div class="col-sm-12">
          <div class="col-sm-10">
            <div (click)="onSelect(email)">
              <h2 class="mainHead">{{email?.mailId}}</h2>
              <p [ngClass]="email.unread === true ? 'mailSubject':''">{{email?.subject}}</p>
              <p class="mailContent">{{email?.content}}</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="delete-email">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>