<section>
  <div>
    <mat-tab-group>
      <mat-tab class="tab" label="Focused">
        <div>
          <ul>
            <li class="list" *ngFor="let email of (emailList | focus )">
              <div (click)="onSelect(email)">
                <h2 class="mainHead">{{email?.mailId}}</h2>
                <p [ngClass]="email.unread === true ? 'mailSubject':''">{{email?.subject}}</p>
                <p class="mailContent">{{email?.content}}</p>
              </div>
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Other">
        <div>
          <ul>
            <li class="list" *ngFor="let email of emailList">
              <div>
                <h2 class="mainHead">{{email?.mailId}}</h2>
                <p [ngClass]="email.unread === true ? 'mailSubject':''">{{email?.subject}}</p>
                <p class="mailContent">{{email?.content}}</p>
              </div>
            </li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>