<section>
  <!-- <div *ngIf="currentDirectory?.dirId===1" class="inboxContainer">
    <app-email [emailList]="emailList" [searchString]="searchString"></app-email>
  </div>
  <div *ngIf="currentDirectory?.dirId===2" class="other-directories">
    <app-sent-items [searchString]="searchString"></app-sent-items>
  </div>
  <div *ngIf="currentDirectory?.dirId===3" class="other-directories">
    <app-drafts></app-drafts>
  </div>
  <div *ngIf="currentDirectory?.dirId===4" class="other-directories">
    <app-deleted-emails [searchString]="searchString"></app-deleted-emails>
  </div>
  <div *ngIf="currentDirectory?.dirId===5" class="other-directories">
    <app-junk-email></app-junk-email>
  </div> -->
  <router-outlet></router-outlet>
</section>