<section>
  <div class="container-fluid">
    <div class="row search-area">

      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Search.." formControlName="searchInput">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-12 directory-list-area">
        <ul class="unorderedList">
          <li class="folderList" *ngFor="let directory of directoryList" [ngClass]="directory.selected ? 'activeFolder':'' " (click)="directorySelect(directory)">
            {{directory.dirName}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>