body{
    margin:0px;
}

mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;    
};

.outlook-sidenav{
    background-color: #e8e8e8;
}
 .mat-drawer.mat-drawer-side {
    background-color: #e8e8e8;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 0px;
}

.outlook-header{
    background-color: black;
}

.outlook-icon img{
    width: 64px;
    float: left;
}

.header-text{
    color:white;
}