@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body{
    margin:0px;
}
@font-face {
    font-family: raleway-regular;
    src: url(./assets/fonts/Raleway/Raleway-Regular.ttf);
  }

mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;    
}

mat-sidenav {
    background-color: #f5f5f4;
    padding:0px;
}
mat-sidenav-content{
    padding:0px;
}

.directory-list-area{
    padding:0px !important;
}

.folderList {
    list-style: none;
    padding: 12px;
    padding-left: 40px;
    font-size: 16px;
}

.activeFolder{
    background-color: #dedede;
    font-weight: bold;
}

.folderList:hover{
    background-color: #deecfa;
}

.unorderedList{
    padding: 0px;
}


html {
    font-size: 14px;
    font-family: 'raleway-regular' !important;
}

body{
    font-size: 14px;
    font-family: 'raleway-regular' !important;
}

.mainHead {
    font-size: 20px;
    font-weight: 600;
    color: #8c8585;
}

.tab{    
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 120px;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;    
}

.mat-tab-label-active{
    color: blue;
}

.mat-tab-label {
    height: 48px;
    padding: 0px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    font-weight: 600;
}

.mat-tab-label-active .mat-tab-label-content{
    border-bottom: 3px solid blue;
}

/* style for search box */

.search-area{
    float:left;
    width: 114%;
}

.search-area input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-right:0px;
    float: left;
    width: 80%;
    background: #deecfa;
  }
  
 .search-area button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #deecfa;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: default;
  }
  
  
.search-area ::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Header */

  .outlook-header{
      background-color: black;
  }

  .hamburger-area{
      background-color: #2875da;
      height: 64px;
      width: 56px;
      cursor: pointer;
      float: left;
  }

  .navigation-area{
      padding: 0px !important;
      margin:0px !important;
      
  }
  .hamburger-area .hamburger{
    color:#ffffff;
    margin-left: 12px;
    margin-top: 12px;
  }

  .header-text{
    float: left;
    color: #ffffff;
    margin-left: 20px;
  }

  /* Email List Component */

  .email-list{
    border: 4px solid #f9f8f8;
    height:100%;
  }

  .email-li{
      list-style: none;
  }
  .delete-email{
    padding: 18px;
    font-size: 20px;
    margin-top: 14px;
  }

  /* Tab Menu */

  .tab-menu{
    background-color: #eff6fd;
    height: 42px;

  }