@font-face {
    font-family: raleway-regular;
    src: url(./assets/fonts/Raleway/Raleway-Regular.ttf);
  }

mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;    
}

mat-sidenav {
    background-color: #f5f5f4;
}

.list {
    list-style: none;
    padding: 5px 0px;
}

.unorderedList{
    padding: 30px 20px;
}

html {
    font-size: 14px;
    font-family: 'raleway-regular' !important;
}

body{
    font-size: 14px;
    font-family: 'raleway-regular' !important;
}

.mainHead {
    font-size: 20px;
    font-weight: 600;
    color: #8c8585;
}

.tab{    
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 120px;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;    
}

.mat-tab-label-active{
    color: blue;
}

.mat-tab-label {
    height: 48px;
    padding: 0px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    font-weight: 600;
}

.mat-tab-label-active .mat-tab-label-content{
    border-bottom: 3px solid blue;
}

/* style for search box */

.search-area{
    float:left;
}

.search-area input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-right:0px;
    float: left;
    width: 80%;
    background: #8ecdff;
  }
  
 .search-area button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #8ecdff;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  
.search-area ::after {
    content: "";
    clear: both;
    display: table;
  }