<ng-container>
    <mat-toolbar class="outlook-header">
        <app-navigation (toggle)="sidenav.toggle()"></app-navigation>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" class="example-sidenav col-sm-2" [fixedInViewport]="options.fixed"
            [fixedTopGap]="options.top" [fixedBottomGap]="options.bottom">
            <app-directory-list></app-directory-list>
        </mat-sidenav>

        <mat-sidenav-content class="col-sm-10">
            <app-tab-menu class="col-sm-12 tab-menu"></app-tab-menu>
            <app-email-list class="col-sm-4 email-list"></app-email-list>
            <app-message-display class="col-sm-8"></app-message-display>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>