<ng-container>
    <mat-toolbar class="outlook-header" color="primary">
        <app-navigation></app-navigation>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" class="outlook-sidenav" [fixedInViewport]="options.fixed"
            [fixedTopGap]="options.top" [fixedBottomGap]="options.bottom">
            <app-directory-list></app-directory-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-email-list></app-email-list>
            <app-message-display></app-message-display>
            <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>